* {
margin: 0;
padding: 0;
}

body {
    background-color: #0D0D0D;
    color: #ffffff;
    /*acent color #E50914*/
}

body.light-mode {
    background-color: #F9F9F9;
    color: #0D0D0D;
    /*acent color #FFD700; */
}

#startMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding-top: 15vh;
}

.content {
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

#startMenu > .menuItem {
    margin: 10px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

#startSection, #aboutSection, #eduSection, #workSection, #pasionSection, #optionSection {
    display: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
}