* {
margin: 0;
padding: 0;
}

body {
    background-color: #0D0D0D;
    color: #ffffff;
    /*acent color #E50914*/
}

body.light-mode {
    background-color: #F9F9F9;
    color: #0D0D0D;
    /*acent color #FFD700; */
}

#startMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding-top: 15vh;
}

.content {
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

#startMenu > .menuItem {
    margin: 20px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}

#startSection, #aboutSection, #eduSection, #projectSection, #optionSection, #logbookSection{
    display: none;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none;
}

.back {
    position: sticky;
    top: 0;
    right: 0;
}

/* project container */
.projects-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

/* project card */
.project-card {
    width: 400px; /* fixed width */
    height: 260px; /* fixed height */
    background-color: #1a1a1a;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

body.light-mode .project-card {
    background-color: #ffffff;
    color: #000;
}

/* hover effect */
.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

/* image in project card */
.project-card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

/* description under image */
.project-card p {
    padding: 10px;
    font-size: 14px;
}
