*{
margin: 0;
padding: 0;
}


.hidden{
    display: none;
}

body{
    background-color: #0D0D0D;
    color: #ffffff;
    /*secund color #E50914*/
}

body.hidden{
    display: none;
}

body.light-mode{
    background-color: #F9F9F9;
    /*secund color #FFD700; */
}

#startMenu{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding-top: 15vh;
}

#startMenu > .menuItem{
    margin: 10px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}